.link {
  color: white;
  font-size: 26px;
  text-decoration: none;
}
.nav {
  display: flex;
  gap: 20px;
  color: white;
}
.active {
  color: teal;
  text-decoration: underline;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 100px;
}
